#header-plants {
    display: flex;
    gap: 8px;
}

#header-plants div {
    /* From https://css.glass */
    display: flex;
    flex-direction: column;

    height: 15vh;
    width: min-content;
    padding: 1vw;

    color: white;


    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

#header-plants div:first-of-type h4{
    font-size: 4vh;
    font-weight: bolder;

    margin-right: 10px;
}

#header-plants div:first-of-type p{
    font-size: 2vh;
    font-weight: lighter;
}

#header-plants div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-plants img {
    margin-bottom: -2.5vh;
    height: 7vh;
    width: 7vh;
    clip-path: circle(40%);
}