#header-plants {
    display: flex;

    /* align-items: stretch; */

    /* align-self: flex-start;
    justify-self: flex-end; */
}

#header-plants div {
    /* From https://css.glass */
    padding: 8px;
    display: flex;
    flex-direction: column;


    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

#header-plants div:first-of-type{
    width: 100%;

}