#header-title {
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: min-content;
    margin: 5% auto;
    
}

#header-title h1, h4, p {
    margin: 0;

}

#header-title h1 {
    user-select: none;

    font-size: 18vw;
    font-weight: bold;
    line-height: 20vw;
    min-height: 20vw;
    text-transform: lowercase;
}

#header-title h4 {
    font-size: 4vw;
    font-weight: bold;
}

#header-title p {
    margin-top: 10px;
    text-align: center;
    padding: 0 10%;
    font-size: 1rem;
    font-weight: normal;
}

#header-title div {
    display: flex;
    flex-direction: column;
    width: min-content;
    justify-content: center;
    align-items: flex-start;
}